[Unit]
Description=ulrepo build services

[Service]
Type=simple
User=build
ExecStart=/usr/bin/aursync --repo ulrepo --root /var/cache/pacman/ulrepo -c -T -u
StandardError=journal
