[Unit]
Description=ulrepo build services

[Service]
Type=simple
User=build
ExecStart=/usr/bin/aur sync -d ulrepo --root /var/cache/pacman/ulrepo -c -T -u -n --noview
StandardError=journal
